<h1>New Account</h1>
<form action="/users" method="post">
  <input type="text" placeholder="Name" name="name">
  <input type="text" placeholder="Username" name="username">
  <input type="password" placeholder="Password" name="password">
  <input type="submit" value="Create Account">
</form>