<h1>Create New Property</h1>
<form action="/properties" method="post">
  <p>Property Title</p>
  <input type="text" name="title">
  <p>Property Description</p>
  <input type="text" name="description">
  <p>Price</p>
  <input type="number" name="price">
  <input type="submit" value="Create!">
</form>