<h1>Reviews</h1>
<% @reviews.each do |x| %>
    <h2><%= x.property.description %></h2>
    <p><a href="/reviews/<%= x.id %>/edit"><%= x.description %></a></p>
<% end %>

<a href="/properties">Home</a>
<form action="/sessions" method="post">
  <input name="_method" type="hidden" value="delete" />
  <input type="submit" value="Logout">
</form>