<h1>Post a review</h1>
<form action="/reviews" method="post">
  <input type="text" name="review">
  <input type="submit" value="Submit Review">
</form>
<p><a href="/home">Home</a></p>
<form action="/sessions" method="post">
  <input name="_method" type="hidden" value="delete" />
  <input type="submit" value="Logout">
</form>