<h1>Edit Review</h1>
<p><%= @review.description %></p>

<a href="/properties">Home</a>
<form action="/sessions" method="post">
  <input name="_method" type="hidden" value="delete" />
  <input type="submit" value="Logout">
</form>