<h1>Edit Review</h1>
<p><%= @review.description %></p>

<p><a href="/home">Home</a></p>
<form action="/sessions" method="post">
  <input name="_method" type="hidden" value="delete" />
  <input type="submit" value="Logout">
</form>